<a id='top'></a>
<p style="background-color:#6A5ACD;font-family:Tahoma, Geneva, sans-serif;color:#FFFFFF;font-size:150%;text-align:center;border-radius:10px;padding:10px;"> üöó Fastag Fraud Detection System üõ£Ô∏è </p>

### `Problem Statement`

<p style="font-family: 'Segoe UI', Tahoma, Geneva, sans-serif; font-size: 16px;">
This internship project focuses on leveraging machine learning classification techniques to develop an
effective fraud detection system for Fastag transactions. The dataset comprises key features such as
transaction details, vehicle information, geographical location, and transaction amounts. The goal is to
create a robust model that can accurately identify instances of fraudulent activity, ensuring the integrity
and security of Fastag transactions.
</p>

### `Dataset Description`

<h4 style="color:orange">Columns in Dataset:</h4>
<ol style="font-family: 'Segoe UI', Tahoma, Geneva, sans-serif; font-size: 16px;">
    <li><strong>Transaction_ID:</strong> Unique identifier for each transaction.</li>
    <li><strong>Timestamp:</strong> Date and time of the transaction.</li>
    <li><strong>Vehicle_Type:</strong> Type of vehicle involved in the transaction.</li>
    <li><strong>FastagID:</strong> Unique identifier for Fastag.</li>
    <li><strong>TollBoothID:</strong> Identifier for the toll booth.</li>
    <li><strong>Lane_Type:</strong> Type of lane used for the transaction.</li>
    <li><strong>Vehicle_Dimensions:</strong> Dimensions of the vehicle.</li>
    <li><strong>Transaction_Amount:</strong> Amount associated with the transaction.</li>
    <li><strong>Amount_paid:</strong> Amount paid for the transaction.</li>
    <li><strong>Geographical_Location:</strong> Location details of the transaction.</li>
    <li><strong>Vehicle_Speed:</strong> Speed of the vehicle during the transaction.</li>
    <li><strong>Vehicle_Plate_Number:</strong> License plate number of the vehicle.</li>
    <li><strong>Fraud_indicator:</strong> Binary indicator of fraudulent activity (target variable).</li>
</ol>

<!-- .......................................................................................................................... -->

<p style="background-color:#20B2AA;font-family:Arial, sans-serif;color:#FFFFFF;font-size:150%;text-align:center;border-radius:10px;padding:10px;border:2px solid #FFFFFF;"> üéØ Project Objectives üìù </p>

<ul style="font-size: 18px; font-family: 'Segoe UI';">
    <li><strong>Data Exploration:</strong> Explore the dataset to understand the distribution of features and the prevalence of fraud indicators.</li>
    <li><strong>Feature Engineering:</strong> Identify and engineer relevant features that contribute to fraud detection accuracy.</li>
    <li><strong>Model Development:</strong>
        <ul>
            <li>Build a machine learning classification model to predict and detect Fastag transaction fraud.</li>
            <li>Evaluate and fine-tune model performance using appropriate metrics.</li>
        </ul>
    </li>
    <li><strong>Real-time Fraud Detection:</strong> Explore the feasibility of implementing the model for real-time Fastag fraud detection.</li>
    <li><strong>Explanatory Analysis:</strong> Provide insights into the factors contributing to fraudulent transactions.</li>
</ul>

<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

<p style="background-color: #FF6347; font-family: Arial, sans-serif; color: #ffffff; font-size: 24px; text-align: center; padding: 10px; border-radius: 10px;">üöß Challenges üöß</p>

<ul style="font-size: 18px; font-family: 'Segoe UI';">
    <li>Imbalanced dataset issues due to the likely low occurrence of fraud.</li>
    <li>Feature engineering to capture nuanced patterns indicative of fraud.</li>
</ul>

<!-- ................................................................................................................................................. -->

<p style="background-color:#4682B4;font-family:Arial, sans-serif;color:#FFFFFF;font-size:150%;text-align:center;border-radius:10px;padding:10px;border:2px solid #FFFFFF;">üìä Evaluation Criteria üìä</p>

<ul style="font-size: 18px; font-family: 'Segoe UI';">
    <li>Model performance assessed using metrics such as precision, recall, F1 score, and accuracy.</li>
</ul>

<!-- ................................................................................................................................................. -->

<p style="background-color:#32CD32;font-family:Arial, sans-serif;color:#FFFFFF;font-size:150%;text-align:center;border-radius:10px;padding:10px;border:2px solid #FFFFFF;">üìÅ Deliverables üìÅ</p>

<ul style="font-size: 18px; font-family: 'Segoe UI';">
    <li>Trained machine learning model for Fastag fraud detection.</li>
    <li>Evaluation metrics and analysis report.</li>
    <li>Documentation on relevant features and their impact on fraud detection.</li>
</ul>

<!-- ................................................................................................................................................. -->

<p style="background-color:#FFD700;font-family:Arial, sans-serif;color:#FFFFFF;font-size:150%;text-align:center;border-radius:10px;padding:10px;border:2px solid #FFFFFF;">üéâ Expected Outcome üéâ</p>

<ul style="font-size: 18px; font-family: 'Segoe UI';">
    <li>An effective and scalable Fastag fraud detection system capable of minimizing financial losses and ensuring the security of digital toll transactions.</li>
</ul>



# <p style="background-color:#682F2F;font-family:newtimeroman;color:#FFF9ED;font-size:80%;text-align:center;border-radius:10px; border: 2px solid #FFA500; padding: 10px;"><b>1|</b> üìö IMPORTING LIBRARIES üìö</p>

In [ ]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report,accuracy_score, confusion_matrix, precision_score, f1_score, recall_score



# <p style="background-color: #20B2AA; font-family: Arial, sans-serif; color: #FFFFFF; font-size: 80%; text-align: center; border-radius: 10px; padding: 15px; border: 4px solid yellow; border-style: dashed;"><b>2|</b> üîÑ LOADING DATASET ü§ñ </p>

In [ ]:
data = pd.read_csv("/kaggle/input/fastagfruddetection/FastagFraudDetection.csv")

# <div style="color: #FFA500; display: inline-block; border-radius: 15px; background-color: #FFEFD5; font-family: 'Arial', sans-serif; overflow: hidden; border: 5px solid #FFA500;width:60%"><p style="padding: 15px; color: #FFA500; overflow: hidden; font-size: 70%; letter-spacing: 1px; margin: 0; width: 750%;"><b> 2) Checks Data </b></p>
</div>
  <ul style="border: 2px solid #4CAF50; border-radius: 8px; margin-top: 10px; width:57%">
    <li>Check Head</li>
    <li>Check Tail</li>
    <li>Check data type</li>
    <li>Check info</li>
    <li>Check Describe</li>
    <li>Check Columns</li>
    <li>Check Size</li>
    <li>Check Shape</li>
  </ul>

In [ ]:
styled_df = data.head()
styled_df = styled_df.style.set_table_styles([
    {"selector": "th", "props": [("color", 'black'), ("background-color", "#FF00CC")]}
])
styled_df

In [ ]:
styled_df = data.tail()
styled_df = styled_df.style.set_table_styles([
    {"selector": "th", "props": [("color", 'black'), ("background-color", "#FF00CC")]}
])
styled_df

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         5000 non-null   int64
 1   Timestamp              5000 non-null   object
 2   Vehicle_Type           5000 non-null   object
 3   FastagID               4451 non-null   object
 4   TollBoothID            5000 non-null   object
 5   Lane_Type              5000 non-null   object
 6   Vehicle_Dimensions     5000 non-null   object
 7   Transaction_Amount     5000 non-null   int64
 8   Amount_paid            5000 non-null   int64
 9   Geographical_Location  5000 non-null   object
 10  Vehicle_Speed          5000 non-null   int64
 11  Vehicle_Plate_Number   5000 non-null   object
 12  Fraud_indicator        5000 non-null   object
dtypes: int64(4), object(9)
memory usage: 507.9+ KB

In [ ]:
# df.describe()
styled_df = data.describe()
styled_df = styled_df.style.set_table_styles([
    {"selector": "th", "props": [("color", 'black'), ("background-color", "#FF00CC")]}
])
styled_df

In [ ]:
data.shape

(5000, 13)

In [ ]:
data.size

65000

In [ ]:
data.columns

Index(['Transaction_ID', 'Timestamp', 'Vehicle_Type', 'FastagID',
       'TollBoothID', 'Lane_Type', 'Vehicle_Dimensions', 'Transaction_Amount',
       'Amount_paid', 'Geographical_Location', 'Vehicle_Speed',
       'Vehicle_Plate_Number', 'Fraud_indicator'],
      dtype='object')

In [ ]:
data.isnull().sum()

Transaction_ID             0
Timestamp                  0
Vehicle_Type               0
FastagID                 549
TollBoothID                0
Lane_Type                  0
Vehicle_Dimensions         0
Transaction_Amount         0
Amount_paid                0
Geographical_Location      0
Vehicle_Speed              0
Vehicle_Plate_Number       0
Fraud_indicator            0
dtype: int64

<p style = "color: #19bd7c;
            font: bold 18px arial;
            padding: 15px;
            background-color: #111;
            border: 3px solid lightgreen;
            border-radius: 8px">
    ‚ô£ Feature Engineering üë®‚Äç
</p>

<div style="border: 2px solid #1E90FF; border-radius: 10px; margin-top: 10px; width:50%">
    <ol style="list-style-type: none; padding: 10px;">
        <li>Identify and engineer relevant features that contribute to fraud detection accuracy.</li>
    </ol>
</div>

> <span style='font-size:15px; font-family:Verdana;color: #FF00CC;'><b>OneHot Encoding</b></span>

In [ ]:
data['Vehicle_Type'].unique()

array(['Bus ', 'Car', 'Motorcycle', 'Truck', 'Van', 'Sedan', 'SUV'],
      dtype=object)

In [ ]:
Lane_order=['Express', 'Regular']
Vehicle_Dimensions_order=['Large', 'Small', 'Medium']
Fraud_indicator_order=['Not Fraud','Fraud']

In [ ]:
ohe = OneHotEncoder()
encode0 = ohe.fit_transform(data[['Vehicle_Type']]).toarray()

In [ ]:
feature_labels = ohe.categories_
np.array(feature_labels).ravel()

array(['Bus ', 'Car', 'Motorcycle', 'SUV', 'Sedan', 'Truck', 'Van'],
      dtype=object)

In [ ]:
feature_labels = np.array(feature_labels).ravel()
print(feature_labels)

['Bus ' 'Car' 'Motorcycle' 'SUV' 'Sedan' 'Truck' 'Van']

In [ ]:
features = pd.DataFrame(encode0, columns = feature_labels)

In [ ]:
df_new = pd.concat([data, features], axis=1)

In [ ]:
new_dataset=df_new.drop(['Timestamp','FastagID','Vehicle_Type','TollBoothID','Geographical_Location','Vehicle_Plate_Number'], axis=1)

In [ ]:
styled_df = new_dataset.head()
styled_df = styled_df.style.set_table_styles([
    {"selector": "th", "props": [("color", 'black'), ("background-color", "#FF00CC")]}
])
styled_df

> <span style='font-size:15px; font-family:Verdana;color: #FF00CC;'><b>Ordinal Encoding</b></span>

In [ ]:
encode1 = OrdinalEncoder(categories=[Lane_order])
encode2 = OrdinalEncoder(categories=[Vehicle_Dimensions_order])
encode3 = OrdinalEncoder(categories=[Fraud_indicator_order])

In [ ]:
encode1.fit(new_dataset[['Lane_Type']])
encode2.fit(new_dataset[['Vehicle_Dimensions']])
encode3.fit(new_dataset[['Fraud_indicator']])

OrdinalEncoder(categories=[['Not Fraud', 'Fraud']])

In [ ]:
new_lane=pd.DataFrame(encode1.transform(new_dataset[['Lane_Type']]))
new_dimensuions=pd.DataFrame(encode2.transform(new_dataset[['Vehicle_Dimensions']]))
new_fraud_indicator=pd.DataFrame(encode3.transform(new_dataset[['Fraud_indicator']]))

In [ ]:
new_dataset['Lane_Type']= new_lane
new_dataset['Vehicle_Dimensions']= new_dimensuions
new_dataset['Fraud_indicator']=new_fraud_indicator

In [ ]:
styled_df = new_dataset.head()
styled_df = styled_df.style.set_table_styles([
    {"selector": "th", "props": [("color", 'black'), ("background-color", "#FF00CC")]}
])
styled_df

> <span style='font-size:15px; font-family:Verdana;color: #FF00CC;'><b>Handling Missing values</b></span>

In [ ]:
# handlling missing values in dataset with dropping method
data = new_dataset.dropna(how='any')

In [ ]:
# checking the missing values of each column
data.isnull().sum()

Transaction_ID        0
Lane_Type             0
Vehicle_Dimensions    0
Transaction_Amount    0
Amount_paid           0
Vehicle_Speed         0
Fraud_indicator       0
Bus                   0
Car                   0
Motorcycle            0
SUV                   0
Sedan                 0
Truck                 0
Van                   0
dtype: int64

dristibution of legit and fraud transactions


<div style="text-align: center; background:  #FF00CC; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 15px; font-size: 26px; font-weight: bold; line-height: 1; border-radius: 50% 0 50% 0 / 40px; margin-bottom: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">dristibution of legit and fraud transactions</div>

In [ ]:
data['Fraud_indicator'] = data['Fraud_indicator'].replace({'Non-Fraud':0 , 'Fraud':1})

/tmp/ipykernel_33/3939681688.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Fraud_indicator'] = data['Fraud_indicator'].replace({'Non-Fraud':0 , 'Fraud':1})

In [ ]:
data['Fraud_indicator'].value_counts()

Fraud_indicator
0    4017
1     983
Name: count, dtype: int64

<h2 style= "background-color: #222;
            padding: 10px;
            font: bold 26px tahoma;
            text-align:center;
            color:gold;
            border: 2px solid tomato;
            border-radius: 5px;">   
    üòçü•∞Highly Unblanced datasetü§©üìä
</h2>

<div style="border: 2px solid #1E90FF; border-radius: 10px; margin-top: 10px; width:50%">
    <ol style="list-style-type: none; padding: 10px;">
        <li>0-> normal transaction</li>
        <li>1-> Fraud transaction</li>
    </ol>
</div>

In [ ]:
# separating data for analysis
legit = data[data.Fraud_indicator == 0]
fraud = data[data.Fraud_indicator == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(4017, 14)
(983, 14)

In [ ]:
#statistical method of the data
legit.Transaction_Amount.describe()

count    4017.000000
mean      153.110530
std       114.435986
min         0.000000
25%        90.000000
50%       125.000000
75%       290.000000
max       350.000000
Name: Transaction_Amount, dtype: float64

In [ ]:
fraud.Transaction_Amount.describe()

count    983.000000
mean     193.555443
std       97.465586
min       60.000000
25%      120.000000
50%      145.000000
75%      300.000000
max      350.000000
Name: Transaction_Amount, dtype: float64

In [ ]:
#compare the values for both transactions
data.groupby('Fraud_indicator').mean()

,Transaction_ID,Lane_Type,Vehicle_Dimensions,Transaction_Amount,Amount_paid,Vehicle_Speed,Bus,Car,Motorcycle,SUV,Sedan,Truck,Van
Fraud_indicator,,,,,,,,,,,,,
0,2618.246950,0.588748,0.865820,153.110530,153.11053,67.731392,0.134180,0.147374,0.177745,0.131939,0.137665,0.138412,0.132686
1,2019.330621,0.501526,0.819939,193.555443,92.83825,68.340793,0.180061,0.124110,0.000000,0.187182,0.163784,0.160732,0.184130

<h2 style= "background-color: #222;
            padding: 10px;
            font: bold 26px tahoma;
            text-align:center;
            color:gold;
            border: 2px solid tomato;
            border-radius: 5px;">   
    üòçUnder Samplingüìä
</h2>

In [ ]:
legit_sample = legit.sample(n=983)

> <span style='font-size:15px; font-family:Verdana;color: #FF00CC;'><b>Concatenating two DataFrames</b></span>

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

,Transaction_ID,Lane_Type,Vehicle_Dimensions,Transaction_Amount,Amount_paid,Vehicle_Speed,Fraud_indicator,Bus,Car,Motorcycle,SUV,Sedan,Truck,Van
2320,2321,0.0,0.0,330,330,57,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
624,625,0.0,1.0,60,60,55,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
716,717,1.0,1.0,0,0,55,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4956,4957,0.0,0.0,145,145,58,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2073,2074,1.0,1.0,90,90,79,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#dristibution of legit and fraud transactions in new dataset
new_dataset['Fraud_indicator'].value_counts()

Fraud_indicator
0    983
1    983
Name: count, dtype: int64

In [ ]:
new_dataset.groupby('Fraud_indicator').mean()

,Transaction_ID,Lane_Type,Vehicle_Dimensions,Transaction_Amount,Amount_paid,Vehicle_Speed,Bus,Car,Motorcycle,SUV,Sedan,Truck,Van
Fraud_indicator,,,,,,,,,,,,,
0,2600.619532,0.594100,0.885046,152.772126,152.772126,68.324517,0.134283,0.141404,0.178026,0.131231,0.158698,0.132248,0.12411
1,2019.330621,0.501526,0.819939,193.555443,92.838250,68.340793,0.180061,0.124110,0.000000,0.187182,0.163784,0.160732,0.18413

<p style="background-color: #4cbb17; font-family: Arial, sans-serif; color: #ffffff; font-size: 24px; text-align: center; padding: 10px; border-radius: 10px;">üìã Splitting the data into features and targets üìã</p>

In [ ]:
X = new_dataset.drop(columns='Fraud_indicator', axis=1)
Y = new_dataset['Fraud_indicator']

<p style="background-color:#6A5ACD;font-family:Tahoma, Geneva, sans-serif;color:#FFFFFF;font-size:150%;text-align:center;border-radius:10px;padding:10px;"> üìä Split data into training and testing üìà </p>

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, train_size=0.8, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(1966, 13) (1572, 13) (394, 13)

In [ ]:


styled_df = pd.DataFrame(X_train).head()
styled_df = styled_df.style.set_table_styles([
    {"selector": "th", "props": [("color", 'black'), ("background-color", "#FF00CC")]}
])
styled_df

<p style="background-color:#20B2AA;font-family:Arial, sans-serif;color:#FFFFFF;font-size:150%;text-align:center;border-radius:10px;padding:10px;border:2px solid #FFFFFF;"> üîÑ Model Development ü§ñ </p>

In [ ]:
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

# Assume X_train, X_test, Y_train, Y_test are defined and split appropriately

Models = {
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "Logistic Regression": LogisticRegression(),
    "SVM Classification": SVC()
}

# Initialize lists to store results
model_names = []
train_accuracies = []
train_precisions = []
train_recalls = []
train_f1_scores = []
test_accuracies = []
test_precisions = []
test_recalls = []
test_f1_scores = []

# Evaluate each model and store results
for name, model in Models.items():
    # Train Model
    model.fit(X_train, Y_train)

    # Make predictions
    Y_train_pred = model.predict(X_train)
    Y_test_pred = model.predict(X_test)

    # Training Performance
    train_accuracy = accuracy_score(Y_train, Y_train_pred)
    train_precision = precision_score(Y_train, Y_train_pred)
    train_recall = recall_score(Y_train, Y_train_pred)
    train_f1 = f1_score(Y_train, Y_train_pred, average='weighted')

    # Testing Performance
    test_accuracy = accuracy_score(Y_test, Y_test_pred)
    test_precision = precision_score(Y_test, Y_test_pred)
    test_recall = recall_score(Y_test, Y_test_pred)
    test_f1 = f1_score(Y_test, Y_test_pred, average='weighted')

    # Append results to lists
    model_names.append(name)
    train_accuracies.append(train_accuracy)
    train_precisions.append(train_precision)
    train_recalls.append(train_recall)
    train_f1_scores.append(train_f1)
    test_accuracies.append(test_accuracy)
    test_precisions.append(test_precision)
    test_recalls.append(test_recall)
    test_f1_scores.append(test_f1)

# Create DataFrame from the results
results_df = pd.DataFrame({
    'Model': model_names,
    'Train Accuracy': train_accuracies,
    'Train Precision': train_precisions,
    'Train Recall': train_recalls,
    'Train F1 Score': train_f1_scores,
    'Test Accuracy': test_accuracies,
    'Test Precision': test_precisions,
    'Test Recall': test_recalls,
    'Test F1 Score': test_f1_scores
})

# Display the results
# print(results_df)
# Apply styling to the entire DataFrame
styled_results = results_df.style\
    .set_properties(**{'font-size': '12pt', 'font-weight': 'bold', 'color': '#6A5ACD'})\
    .background_gradient(cmap='Pastel1')\
    .set_caption('Model Evaluation Results')\
    .set_table_styles([{
        'selector': 'caption',
        'props': [('color', '#6A5ACD'), ('font-size', '16pt'), ('font-weight', 'bold')]
    }])

# Display the styled results
styled_results

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

<div style="text-align: center; background:  #FF00CC; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 15px; font-size: 26px; font-weight: bold; line-height: 1; border-radius: 50% 0 50% 0 / 40px; margin-bottom: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">Outcomes</div>


<span style="font-size: 14px; font-family: Verdana; background-color: #F5F5F5; border: 2px solid #ccc; padding: 10px; border-radius: 10px; display: inline-block;">
  <strong>Conclusion:</strong> In our evaluation of various classification algorithms, we observed the following key insights:

  - Decision Tree and Random Forest have a 100% in Training and Test data accuracy than Logistic Regression of 99% and an SVC of 69.09%
  - When comparing precision & recall for 4 models, Here the Decision tree and Random forest performed much better than the Logistric Regression and SVC as we can see that the detection of fraud cases is around 100 % and 98 %, and Logistric Regression and SVC of 72% and 62%.
  - So overall Decision tree and Random Forest Method performed much better in determining the fraud cases which is 100%

  - We can also improve on this accuracy by increasing the sample size or use deep learning algorithms however at the cost of computational expense.We can also use complex anomaly detection models to get better accuracy in determining more fraudulent cases

  
</span>